<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ShareClient.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="ShareClient.commands.category"
            name="Sample Command"
            id="ShareClient.commands.shareProjectCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="me.mrletsplay.shareclient.handlers.ShareProjectHandler"
            commandId="ShareClient.commands.shareProjectCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ShareClient.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ShareClient.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="ShareClient.commands.shareProjectCommand"
                  id="ShareClient.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ShareClient.toolbars.sampleToolbar">
            <command
                  id="ShareClient.toolbars.sampleCommand"
                  commandId="ShareClient.commands.shareProjectCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Share Client">
            <command
                  commandId="ShareClient.commands.shareProjectCommand"
                  label="Share project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="me.mrletsplay.shareclient"
            name="ShareClient">
      </category>
      <view
            category="me.mrletsplay.shareclient"
            class="me.mrletsplay.shareclient.views.ShareView"
            icon="icons/sample.png"
            id="shareclient.views.SampleView"
            inject="true"
            name="Share Client">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="me.mrletsplay.shareclient.views.ShareView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="me.mrletsplay.shareclient.ShareClientPreferencePage"
            id="ShareClient.preferences"
            name="Share Client">
      </page>
   </extension>

</plugin>
